body {
  margin: 0;
  background: rgb(170, 162, 162);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  /* font-weight: 300; */
  font-size: 100%;
}
.navContainer {
  width: 80%;
  margin: 0 auto;
}
header {
  background: black;
  font-size: 100%;
  border: white solid;
  border-radius: 5px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
#logo {
  float: left;
  padding-left: 10px 0;
}

nav {
  float: right;
}
.navContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navContainer ul li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
  color: white;
}
