body {
  background: #a7bdb6;
}

h1 {
  color: white;
  text-align: center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "left right";
}

.articleContainer {
  grid-area: left;
}
.topicsContainer {
  grid-area: right;
  background: cadetblue;
  padding: 2em;
}
#topicsContainer {
  background: #a7bdb6;
  border-bottom: solid black;
  margin: 2em;
  padding: 1em;
}

#topicsList {
  list-style: none;
}
