body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: darkgrey;
  background: #f3f3f3;
}
* {
  margin: 0;
  padding: 0;
}
h2 {
  color: white;
}

.container {
  max-width: 960px;
  width: 96%;
  margin: auto;
}

.header {
  background: #fff;
  margin-bottom: 20px;
}
.logo {
  float: left;
  margin-top: 10px;
}

nav {
  float: right;
  line-height: 70px;
}
nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
  margin-left: 4px;
  background: #f3f3f3;
  line-height: normal;
}
nav li .nav-link {
  display: inline-block;
  padding: 5px 5px;
  margin-left: 10px;
  background: #f3f3f3;
  line-height: normal;
  text-decoration: none;
}

.content h3 {
  background: #338989;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-decoration: none;
}
.container .title {
  text-decoration: none;
  color: white;
}

.content article {
  float: left;
  width: 600px;
}

.topicsContainer {
  float: right;
  width: 250px;
  background: #338989;

  padding: 20px;
  border-radius: 5px;
  list-style-type: none;
}
.loginContainer {
  margin: 500px;
}
#loginForm {
  margin: 300px;
}
#loginFormH1 {
  margin-top: 200px;
}
